* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: whitesmoke;
}

h1 {
  color: rgba(255, 0, 0, 0.8);
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 3px rgba(0, 0, 255, 0.8);
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  color: black;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 40px;
}

#player-one-color {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px black;
  width: 200px;
  padding: 5px;
}
#player-two-color {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px black;
  width: 200px;
  padding: 5px;
}

#start-game {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px black;
  padding: 5px;
}

#board {
  max-width: 750px;
  margin: auto;
  padding: 30px;
  align-items: center;
}

#board td {
  width: 65px;
  height: 65px;
  border: solid 1px black;
}

.piece {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#column-top td {
  background-color: lightgray;
  border: solid 5px white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: black;
  border: solid 5px white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
